.button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 11px 30px 13px;
    border: 3px solid #fff;
    border-radius: 2em;
    color: #fff;
    background-color: transparent;
    font-family: $base-font-family;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover, &:focus {
        background-color: red;
        color: red;
        outline: none;
    }
    &:active {
        color: rgba(red, 0.3);
    }
}