.button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 20px 14px;
    border: none;
    border-radius: 0.1em;
    color: #fff;
    background-color: $accent;
    font-family: $base-font-family;
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $accent-darken;
    }
    &:active {
        background-color: $accent-dark;
        color: rgba(#fff, 0.3);
    }
}