.hamburger {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $accent;
        box-shadow: 0 8px 0 0 $accent,
                    0 16px 0 0 $accent;
    }
    &::after {
        display: none;
    }

    &:hover, &:focus {
        &::before, &::after {
            background-color: $accent-darken;
            box-shadow: 0 8px 0 0 $accent-darken,
                        0 16px 0 0 $accent-darken;
        }
    }
    &:active {
        &::before, &::after {
            background-color: $accent-dark;
            box-shadow: 0 8px 0 0 $accent-dark,
                        0 16px 0 0 $accent-dark;
        }
    }

    &--close {
        position: absolute;
        top: 17px;
        right: 20px;
        &::before, &::after {
            background-color: #fff;
            box-shadow: none;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            display: block;
            transform: rotate(-45deg);
        }

        &:hover, &:focus, &:active {
            &::before, &::after {
                box-shadow: none;
            }
        }
    }
}

@media (min-width: $tablet) {
    .hamburger {
        display: none;
    }
}