body {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;

    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;

    color: $text-color;

    @media (min-width: $desktop) {
        box-shadow: 5px 0 15px 0 rgba(#000, 0.3);
    }
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}